.calendario {
    margin: 24px 0;
}

.calendario label {
    display: block;
    font-size: 24px; 
    margin-bottom: 8px;
}

.date {
    font-size: 18px;
    font-weight: 400;
    padding: 18px;
    background-color: #ffff;
    width: 100%;
    box-sizing: border-box;
}


