.footer {
    background: #6278F7;
    color: #FFF;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer section {
    margin-bottom: 20px;
}

.footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer ul li {
    display: inline-block;
    margin: 0 16px;
}

.footer ul li a img {
    width: 24px;
    height: 24px;
}

.footer-logo {
    width: 300px;
    height: auto;
}

@media (min-width: 768px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .footer section {
        margin-bottom: 0;
    }

    .footer ul li {
        margin: 0 32px;
    }
}
